/* ------
  GENERAL RULES
------ */

* {
  font-family: verdana, sans-serif;
}

html {
    background-color: lightgrey;
}

body {
  min-width: 600px;
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 10px;
}

/* HEADER */
/* Navigation menu */
#menu-navig {
  list-style-type: none;
}

#menu-navig li {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 5px 10px;
  border-bottom: 1px solid grey;
}

/* FOOTER */
footer {
  text-align: center;
}

footer p {
  display: inline-block;
  padding: 5px 20px;
}

/* CONTENT */
content {
  display: block;
  width: 95%;
  margin: auto;
  border: 1px dashed lightgrey;
  padding: 10px;
}

content h1 {
  font-size: 1.1em;
  font-weight: bold;
}

/* ------
  ITEM RULES
------ */


/* ------
  WISHLIST RULES
------ */
