/* ------
  GENERAL RULES
------ */

* {
  font-family: verdana, sans-serif;
}

a, a:visited, a:focus {
  color: green;
}

.icon {
  width: 50px;
  vertical-align: middle;
  margin: 5px;
}

a.actionLink {
  color: darkslategray;
  font-weight: bold;
}

a.actionLink:hover,
a.actionLink:hover.icon {
  color: black;
  text-decoration: none;
  filter: brightness(0.8);
}

html {
    background-color: lightgrey;
}

body {
  position: relative;
  min-width: 350px;
  max-width: 800px;
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 10px;
}

/* HEADER */

/* Messages d'erreur, confirmation, neutre */
.headMsg, .headMsg_bad, .headMsg_good {
  border: 5px solid gray;
  padding: 10px;
  background-color: lightGray;
}

.headMsg_bad {
  border-color: brown;
  background-color: pink;
}

.headMsg_good {
  border-color: darkgreen;
  background-color: lightGreen;
}

/* Navigation menu */
#disconnectLink {
  color: gray;
  font-size: 0.6em;
}

#show-menu-link {
  display: none;
}

#menu-navig {
  list-style-type: none;
  display: block;
}

#menu-navig li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 30px;
  color: darkslategray;
  text-decoration: none;
}

#menu-navig li {
  display: inline-flex;
  text-align: center;
  border-bottom: 1px solid grey;
  transition: 0.1s;
}

#menu-navig li a:hover {
  color: white;
  background-color: darkslategray;
}

/* Connection */
#connectionMsg {
  position: absolute;
  top: 30px;
  right: 50px;
  text-align: right;
}

#connectionForm {
  position: absolute;
  top: 30px;
  right: 50px;
}

#connectionForm input[type=text],
#connectionForm input[type=password] {
  width: 200px;
  right: 0px;
  padding: 5px;
  margin: 2px;
}
#connectionForm input[type=submit],
#inscriptionLink {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  background-color: gray;
}

#inscriptionLink {
  border-radius: 10px;
  text-decoration: none;
}

/* FOOTER */
footer {
  color: #777;
  text-align: center;
  font-size: 0.8em;
}

footer p {
  display: inline-block;
  padding: 5px 20px;
}

/* CONTENT */
content {
  display: block;
  width: 95%;
  margin: auto;
  border: 1px dashed lightgrey;
  padding: 10px;
  text-align: justify;
}

content h1 {
  font-size: 1.1em;
  font-weight: bold;
}

/* ------
  ITEM RULES
------ */
.img-item {
    max-width : 200px;
    max-height: 200px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}

.description-item{
    text-align:justify;
}

.clear {
    clear: both;
}

/* ------
  WISHLIST RULES
------ */


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    max-height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=date]{
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit]{
    background-color: lightgrey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.form-date {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div > p {
  margin-right: 15px;
  font-size: 0.9em;
}

.message {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: lightgrey;
    padding: 5px;
    margin-bottom: 5px;
}

.mess-creator > span{
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
}

.mess-body {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
}

/* Adaptations mobile */
@media all and (max-width: 500px) {
  #entete {
    text-align: center;
  }

  header h1 {
    display: inline-block;
    vertical-align: middle;
  }

  body {
      width: inherit;
  }

  #show-menu-link {
    margin: 0px;
    display: inline-block;
    position: absolute;
    right: 5px;
    cursor: pointer;
  }

  #show-menu-link:hover {
    filter: brightness(0.8);
  }

  #menu-navig {
    padding: 5%;
    width: 90%;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  #menu-navig li {
    display: block;
    border-bottom: none;
    border-left: 3px gray solid;
    border-right: 3px gray solid;
  }

  #menu-navig li a {
    width: 100%;
    margin-bottom: 2px;
    padding: 5px 0px;
  }

  #connectionMsg, #connectionForm {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    display: none;
  }

  footer p {
    display: block;
    padding: 5px 20px;
    margin: 0px;
  }

  a.actionLink {
    background-color: gray;
    display: block;
    text-align: left;
    color: white;
    text-decoration: none;
    //padding-left: 75px;
  }

  .icon {
    /*position: relative;
    margin-left: -75px;
    margin-right: 25px;*/
  }

  .listeDateExpiration {
    display: block;
    color: gray;
    padding-left: 15px;
  }
}
